body {
    margin: auto ;
    padding: auto ;
    background-image: url("../media/background.jpg");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}.show{
    animation-name: slideShow-animation;
    animation-duration: 5s;
}
.content{
    text-align:center;
    color: lightblue;
}
#navigation {
    list-style-type: none;
    margin: 0;
    top: 0;
    color: white;
    overflow: hidden;
    background-color: black;
    border: 1px solid;
    }
#navigation li{float: right ;padding-right: 10px;}

#navigation li a {
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
#navigation li a:hover {
    background-color: whitesmoke;
    color:black;
    box-shadow: 5px 10px 10px white;
}
.selfie{
    width: 375px;
    height: 534px;
    box-shadow: 5px 5px 5px  black;
}
table {
    width:100%; 
    color:whitesmoke;
}
table th {
    padding-top: 50px;
    border: 1px  solid;
    
}
table td {
    padding-top: 50px;
    border: 1px  solid;
}
footer {
    text-align: center;
    position:fixed;
    color:whitesmoke;
    border: 1px solid;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    }
@keyframes slideShow-animation{
    from {opacity: 0;}
    to {opacity: 1;}
    }
